@use "variables" as *;
.cards {
    height: 80%;
    width: 400px;
    border: 2px solid $secondary-colour;
    border-radius: 10px;
    img {
    width: 400px;
    border-radius: 10px 10px 0px 0px;
    }
}