@use "variables" as *;
.container {
    &__h1 {
    font-family: $primary-font;
    padding: $primary-padding;
}&__p {
    font-family: $primary-font;
    padding: $primary-padding;
}.button-bar {
    padding: $primary-padding;
    &__button {
    background-color: $dark;
    color: $light;
    padding: 10px;
    border: none;
    }&__button--light {
    background-color: $light;
    color: $dark;
    border: 1px solid $dark;
}
}
}