@use "variables" as *;
.container {
    &_h1 {
    font-family: $primary-font;
    padding: 10px;
}&_p {
    font-family: $primary-font;
    padding: 10px;
}.button-bar {
    padding: 10px;
    &_button {
    background-color: $dark;
    color: $light;
    padding: 10px;
    }&_button--light {
    background-color: $light;
    color: $dark;
}
}
}